# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env local
images/DALL·E 2024-12-07 07.08.55 - A professional and visually appealing image for a sports competition website designed in a 1200x630 resolution. The image features a dynamic football .webp
